* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #b91550;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #b91550;

}

.flex-content {
    display: flex;
    justify-content: center;
}

.ticket-result,
.ticket-generator {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 20px 0;
    
    
}

.ticket-generator {
    border-radius: 12px;
    box-shadow: 3px 3px 15px #202020;
}

.ticket-generator-row {
    padding: 20px 50px;
}

.ticket-generator-row label {
    display: inline-block;
    padding: 10px 0;
}

.ticket-generator-row input, .ticket-generator-row select {
    display: block;
}

.buttons {
    text-align: center;
    
}

.ticket-generator-row button {
    padding: 5px;
    color: #b91550 ;
   
}

h1, h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

h3 {
    text-transform: uppercase;
    color: black; 
    padding-left: 45px;
}

.ticket-result-row  {
    height: 180px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding-left: 45px;
}

.ticket-result-row:first-child {
    border: 0;
    padding-top: 0;
}

.ticket-result-row:last-child {
    margin-right: 20px;
}

.ticket-result-row span {
    display: block;
    padding-top: 70px;
    
}
.ticket-result-row p {
    background-color: #808080;
    color: black;
    height: 180px;
    text-transform: uppercase;
    padding: 20px 20px 0 20px;

}

.ticket-result-row {
    color: black;
    font-weight: 600;
    padding-top: 20px;
    width: 70%;
}

.hidden {
    opacity: 0;
    transition: 0.1s;
}

.show {
    opacity: 1;
    transition: 0.1s;
}